@import '../../../sharedStyles/shared.module.scss';

.Btn {
    background-color: $primary-color;
    border-color: $primary-color;
    margin: auto;
    display: block;
    color: white;

    &:hover {
        background-color: $muted-color !important;
        border-color: $muted-color !important;
    }

    &:focus,
    &:focus,
    &:active:focus {
        outline: none !important;
        box-shadow: none;
        border-color: $muted-color;
        background-color: $tertiary-color !important;
    }

    &:disabled {
        background-color: $muted-color !important;
        border-color: $muted-color !important;
    }
}

@media screen and (max-width: 768px) {
    .Btn {
        font-size: calc(0.575rem + 1.5vw);
    }
}