@import "../../sharedStyles/shared.module.scss";

.Container {
    width: 100%;
    min-width: 500px;

    .Selector {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin: 0 10px;
            height: 36px;
            display: inline-block;
        }

        .DateSelector {
            display: inline-block;
            margin-bottom: 13px;
            height: 36px;
            padding: 0 5px 0 12px;
            border: none;
            box-shadow: 3.27429px 3.27429px 13.0972px #9954C4;
        }
    }

    // to remove demo label
    .Calendar {
        >div:first-of-type>div:last-of-type {
            background-color: red;
            visibility: hidden !important;
        }
    }

    .Event {
        display: flex;
        justify-content: space-around;
        background-color: transparentize($primary-color, 0.8);
        margin: 20px 0;
        color: $tertiary-color;
        padding: 10px;
        border: 1px solid $primary-color;
        border-radius: 10px;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        div>p:first-of-type {
            background-color: transparentize($tertiary-color, 0.8);
            font-size: 12pt;
            font-weight: 700;
            border: 1px solid $tertiary-color;
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 2px 10px;
        }

        p {
            margin: 0;

            span {
                margin: 0 2px;
            }
        }

        button {
            color: white;
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            font-weight: 700;
        }

        .GalleryBtn {
            background-color: $muted-color;
        }
    }
}

.ActionBtns {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    >button {
        margin: 0 5px;
    }

    .ManageBtn {
        background-color: $edit-color;
    }
}