@import "../../sharedStyles/shared.module.scss";

.Container {
    width: 700px;

    .Heading {
        margin-bottom: 50px;

        h1 {
            text-align: center;
            color: $tertiary-color;
            font-weight: 400;
            line-height: 36px;
            font-size: 34pt;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            color: $muted-color;
            opacity: 0.6;
            font-weight: 400;
            line-height: 14px;
            font-size: 14pt;
        }
    }
}

.VerticalLine {
    border-radius: 7px;
}

.Form {
    border: $secondary-color 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.ActionBtns {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    >button {
        margin: 0 10px;
    }

    .AcceptBtn {
        background-color: $accept-color;
        border: none;
        color: white;
        padding: 5px 15px;
        border-radius: 10px;
    }

    .RejectBtn {
        background-color: $reject-color;
        border: none;
        color: white;
        padding: 1px 10px;
        border-radius: 10px;
    }
}